@{
    ViewBag.Title = "Danh Sách Xe Khách";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
}

@using Nhom21_WebsiteDatVeXeKhach.Models.Entities
@model List<XEKHACH>

<script>
    var element = document.getElementById("collapse3");
    element.classList.add("in");
</script>

<h2>Danh Sách Xe Khách</h2>
<div class="bang-danh-sach">
    <table class="table table-hover table-striped">
        <colgroup>
            <col style="width: 15%">
            <col style="width: 20%">
            <col style="width: 5%">
            <col style="width: 30%">
            <col style="width: 10%">
            <col style="width: 20%">
        </colgroup>
        <thead>
            <tr>
                <th>ID Xe Khách</th>
                <th>Đường Dẫn Ảnh Xe</th>
                <th>Số Ghế</th>
                <th>Mô Tả</th>
                <th>ID Hãng Xe</th>
                <th>Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (XEKHACH p in Model)
                {
                    <tr>
                        <td>@p.ID_XeKhach</td>
                        <td>@p.HinhAnhXe</td>
                        <td>@p.SoGhe</td>
                        <td>@p.MoTa</td>
                        <td>@p.ID_HangXe</td>
                        <td>
                            <a href="/Admin/SuaXeKhach/@p.ID_HangXe">Sửa</a>&nbsp;|&nbsp;
                            <a href="#" data-toggle="modal" data-target="#myModal"
                               onclick="myFunction('/Admin/XoaXeKhach/@p.ID_HangXe')">
                                Xóa
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="trang">
    <ul class="pagination">
        <li><a href="/Admin/listXeKhach/1">«</a></li>
        @for (int i = 1; i <= ViewBag.SoTrang; i++)
        {
            <li id="li-@i"><a href="/Admin/listXeKhach/@i">@i</a></li>
        }
        <li><a href="/Admin/listXeKhach/@ViewBag.SoTrang">»</a></li>
    </ul>
</div>

<script>
    var trang = document.getElementById('li-@ViewBag.Trang');
    trang.classList.add('active');
</script>

@Html.Partial("~/Views/SharedAdmin/_HopThoaiXacNhan.cshtml")