@{
    ViewBag.Title = "Đăng Ký Thành Công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Nhom21_WebsiteDatVeXeKhach.Models.Entities
@model TAIKHOAN

<h3>Đăng Ký Thành Công</h3>
<br />
<div class="container dang-nhap-form">
    <label>Tài Khoản: @Model.TenTaiKhoan</label><br />
    <label>Mật Khẩu: @Model.MatKhau</label><br />
    <label>Họ Tên: @Model.HoTen</label><br />
    <label>Số Điện Thoại: @Model.SoDT</label><br />
    <label>Email: @Model.Email</label>
    <label>Quyền hạn: @Model.ID_Quyen</label>
</div>
<br />
<h4><a href="/ThongTinCaNhan/DangNhap">Quay Lại Đăng Nhập</a></h4>