
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using ShoesShop.Areas.Admin.Models.Entities
@model IEnumerable<Sho>
<style>
    .txtLink {
        color: red;
    }

    .searchBarContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 0px;
    }

    .form-control {
        width: 500px;
        margin-right: 20px;
    }

    .btnSearch {
        width: 150px;
    }

    a:hover, a:focus, a:active {
        border: none;
        text-decoration: none;
    }
</style>

<div class="container">
    <div class="searchBarContainer">
        <input id="txtSearch" class="form-control" type="text" placeholder="Search" aria-label="Search">
        <input id="btnSearch" type="button" value="Search" class="btn btn-dark btnLogin btnSearch" />
    </div>

    <table class="table" id="tableOfShoes">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Descriptions</th>
                <th scope="col">Id Category</th>
                <th scope="col">Id Vendor</th>
                <th scope="col">Price</th>
                <td scope="col">Image</td>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody id="serchResult" />
        <tbody id="contentOfTable">

            @{
                foreach (Sho shoes in Model)
                {
                    <tr>
                        <td scope="row">@shoes.idShoes</td>
                        <td>@shoes.name</td>
                        <td>@shoes.description</td>
                        <td>@shoes.idCategory</td>
                        <td>@shoes.idVendor</td>
                        <td>@shoes.price $</td>
                        <td><img src="@shoes.defaultUrlImage" alt="@shoes.name" /></td>
                        <th><input type="button" class="btn btn-dark" href="" onclick="gotoUpdateActionUrl(@shoes.idShoes)" value="Edit" /> | <input type="button" class="btn btn-danger" value="Delete" onclick="deleteItem(@shoes.idShoes)" /></th>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Warnning</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="modalBody">
                Are you sure to delete item ?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer" id="modalFooter">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnAccept">Accept</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal" id="btnCancle">Cancle</button>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Search
        $("#btnSearch").click(function () {
            console.log("Clisadkfljadsf");
            txtSearch = $("#txtSearch").val();
            var url = '@Url.Action("Search", "AdminProduct")' + '?searchValue=' + txtSearch;
            jQuery.ajax({
                type: 'POST',
                dataType: "json",
                contentType: "application/json",
                url: url,
                success: function (data) {
                    console.log(data)
                    $("#contentOfTable").empty();
                    $("#serchResult").empty();
                    $.each(data, function (index) {
                       // console.log(data[index])
                        $("#serchResult").append(
                            ` <tr>
                                <td scope="row">${data[index].idShoes}</td>
                                <td>${data[index].name}</td>
                                <td>${data[index].description}</td>
                                <td>${data[index].idCategory}</td>
                                <td>${data[index].idVendor}</td>
                                <td>${data[index].price}</td>
                                <td><img src="${data[index].defaultUrlImage}" alt="${data[index].name}"/></td>
                                <th><input type="button" class="btn btn-dark" href="" onclick="gotoUpdateActionUrl(${data[index].idShoes})" value="Edit"/> | <input type="button" class="btn btn-danger" value="Delete" onclick="deleteItem(${data[index].idShoes })"/></th>
                            </tr>`
                        );
                    })
                }
            })
        })
        // Modal delete



    });

    // Delete data
    function deleteItem(id) {
        $("#myModal").modal('show');
        console.log('Id of item want to delete', id);
        $("#btnAccept").click(function () {
            console.log('Accept delete item id: ', id);
            // TODO: Call Ajax here to delete item with id=?
        })
    }
    // Goto Url
    function gotoUpdateActionUrl(id) {
        console.log(id);
        location.href = "Update?id=" + id;
    }
</script>